@font-face {
			font-family: 'Mourning';
			src: url('fonts/mourning.eot');
			src: url('fonts/mourning.eot?#iefix') format('embedded-opentype'),
					 url('fonts/mourning.woff') format('woff'),
					 url('fonts/mourning.ttf') format('truetype'),
					 url('fonts/mourning.svg#mourning') format('svg');
			font-weight: normal;
			font-style: normal;
		}
body{
    background: #333;
    font-family: 'Mourning';
}


ul{
    list-style: none;
    margin: 0;
}
 .btn.disabled, .btn[disabled]{
    background: #f8f8f8 !important;
}
select {
    width: auto !important;
}
.modal.fade.in {
    top: 25% !important;
}
.dataTables_filter input[type="text"]:focus{
    border:1px solid #1ABC9C;
}
.bold{
    font-weight:bold;
}
.wrapper{
    max-width:1140px;
    margin: 0 auto;
}
.modal{
 border-radius:0 0 !important;
}
.btn{
 color:#fff !important;
 text-transform:uppercase;
 border:none !important;
 }
 .res_view{
    display: none !important;
 }
 #desk_view{
    display: block;
 }
 .tour-btn{
     background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0 !important;
    color: #333333 !important;
    text-transform: capitalize !important;
    padding: 11px 12px !important;
 }

 .light_red{
  background:#f97e76 !important;
 }
 .light_red:hover{
  background:#e16860 !important;
 }
.btn-primary{
 background:#1fbba6;
 background-image:none !important;
 text-shadow:0 0 !important; 
}
.btn-primary:hover{
 background:#109e8b;
 background-image:none !important;
} 
.nicescroll-rails{
background:#fff;
width:10px !important;
} 
.nicescroll-rails [style]{
background:#999 !important;
width:10px !important;
border:none !important;
border-radius: 0 0 !important;

} 

.top_bar{
         background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 0;
   }
.logo{
    margin: 10px 10px;
}
.user{
    text-align: center;   
    margin: 20px 0; 
    font-size: 18px;   
}
nav{
position:relative;
}
.top_nav{
    float: right;
     margin: 0;
}
.top_nav li{
    float:left;
    padding: 10px;
}
.top_nav li:hover{
    background: #fff;
   
}
/**
 * Iconmoon Styles goes here....
 */
.contact,.settings,.logout{
    border: 2px solid #aaa;
    border-radius: 50% 50% 50% 50%;
    color: #888;
    display: block;
    font-size: 20px;
    padding: 8px;
    position: relative;
    top: 0;
}
.icon-user-3,.icon-bars,.icon-card,.icon-book-2,.icon-info,.icon-book_alt2,.icon-briefcase-2,.icon-remove,.icon-lab,.icon-tab-2,.icon-suitcase-2,.icon-sun_stroke{
    line-height: normal !important;
    width: auto !important;
    padding-right: 3px;
}
.icon-sun_stroke{
    margin: 0 !important;
}
.top_nav li a:hover{
    text-decoration: none;
    color: #03A678;
}
a:active, a:focus{
    outline: none !important;
	text-decoration:none;
}
/**
.settings{
     background: url('../img/settings.png') no-repeat center center;
}
.settings:hover{
     background:#469fdb url('../img/settings-hover.png') no-repeat center center;
}

 * .contact{
 *     background: url('../img/contact.png') no-repeat center center;
 * }

.contact:hover{
     background:#469fdb url('../img/contact-hover.png') no-repeat center center; 
	}
    
.logout{
     background: url('../img/log-out.png') no-repeat center center;
}
.logout:hover{
     background:#469fdb url('../img/logout-hover.png') no-repeat center center;
}*/ 
.dl-menu{
  display:none;
}
.tab{
       float: right;
	   position:relative;
}
.tab li{
    float: left;
    line-height: normal;
    margin: 0 1px 0 0;
    padding: 0; 
    background: #cfcfcf;
}
.tab li a {
    color: #000000;
    display: block;
     padding: 30px 15px 7px 20px;
    font-size: 18px;
}
.tab li a:hover {
    text-decoration: none;
 }
 .tab li:hover{
    background: #469fdb;
}
 .tab li a:hover{
    color: #fff;
}
 .active_otp{
    background: #fff !important;
    border-top:3px solid #f5696c;
 }
 .active_otp a{
    padding-top:27px !important;
    color: #000 !important;
 }
#tabs-container{
 background:#999;
 float: left;
} 
/**
 *  .orders,.transaction,.ledgera,.market_status
*/
 
 .dashboard{
    display: block;
    background: url(../img/dashboard.png) no-repeat center 5px;
 }
 .order{
    display: block;
    background: url(../img/order.png) no-repeat center 5px;
 }
.transaction{
    display: block;
    background: url(../img/transaction.png) no-repeat center 5px;
 }
 .ledger{
    display: block;
    background: url(../img/ledger.png) no-repeat center 5px;
 }
 .market_status{
    display: block;
    background: url(../img/market_status.png) no-repeat center 5px;
 }
 h1,h2,h3,h4,h5,h6{
    line-height: normal !important;
     margin: 0;
 }
 .iStock_data_table{
width:100%; 
} 
 .iStock_data_table tr{
transition: all 0.3s ease-in 50ms;
} 

.iStock_data_table td{
padding:8px 10px;
vertical-align: text-top;
}
/*  
.iStock_data_table tr:nth-child(odd):hover{
background:rgba(3,166,120,0.8);
color:#fff;
}  */

.iStock_data_table td:nth-child(2){
font-weight:bold;
color:#03a678;
padding:0;
} 

.iStock_data_table tr:nth-child(even){
background:#f8f8f8;
} 
.iStock_data_table td:first-child{
font-weight:bold;
}
.iStock_data_table td:last-child{
text-align:right;
}
.total_separator tr:nth-last-child(2){
  border-bottom:2px dashed #469FDB;
} 
.total_separator_dark tr:nth-last-child(2){
  border-bottom:2px dashed #353637;
} 
.widget_container{
    padding: 20px 20px 20px 0;
  }
.sidebar_widget_container{
    padding: 20px 0px 10px 20px;
  }  
.sidebar_header{
    background:#2C3E50;
    width:100%;
    margin-bottom: 30px;
   }
.sidebar_header > h2{
    font-size:20px;
    color: #fff;
    padding: 10px;
}

.ps_ico{
    display: inline-block;
    height: 25px;
    padding-right: 5px;
    vertical-align: text-top;
    width: 32px;
    background: url(../img/ps.png) no-repeat left center;
   }
 
.alert-success {
 font-size: 16px;   
}  
.alert{
    border-radius: 0 0 !important;
    padding: 10px 35px 11px 14px !important; 
    margin-bottom: 30px !important; 
}
.sidebar_widget{
    margin: 0 0 30px;
}
.green{
    background: #03a678;
  }
  .green_border{
    border:2px solid #03a678;
    border-top:none;
}
.blue{
    background: #469fdb;
  }
  .blue_border{
    border:2px solid #469fdb;
    border-top:none
}
.dark{
    background: #353637;
  }  
 .dark_border{
    border:2px solid #353637;
    border-top:none
}  
.light{
    background:#e7e7e7 ;
}
.light_gray{
    background:#d4d4d4;
}
.light > h2,.light_gray > h2{
    color:#333;
}
.light_border{
    border:2px solid #e7e7e7;
    border-top:none;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}
.light_gray_border{
    border:2px solid #e7e7e7;
    border-top:none
}
.lineChart{
    padding: 10px;
}
.paste{
    background: #1abc9c;
}
.stockLedgerTable{
    width:100%;
}
.stockLedgerTable th, .stockLedgerTable td{
    border:1px solid #ccc;
    padding:8px 5px;
}
.stockLedgerTable th:first-child,.stockLedgerTable td:first-child{
   text-align:left !important;
}
.stockLedgerTable td{
   text-align:right;
}
.stockLedgerTable tr:nth-child(odd){
    background: #f5f5f5;
 }

.deepBlueborder{
    border:2px solid #1abc9c;
    border-top-width:1px; 
  }
  .scoreCard{
    background: #7f8c8d;
  }
 .signature{ 
    display: block;
    text-align: center; 
    }  
 .signature img{ 
  margin: 12px;
    }  
 
 .scoreCard_wrap{
    border:2px solid #7f8c8d;
    border-top-width:1px; 
 }
 
.scoreCard_info {
    width: 100%;
}
.scoreCard_info tr:nth-child(odd){
    background: #F9F9F9;
}

   .scoreCard_info tr td{
     font-size: 16px;
    padding: 12px;
     }  
  .scoreCard_info td:first-child{
     text-align:left;
     font-weight:bold;
     }   
  .scoreCard_info td:last-child{
     text-align:right;
     }         
 .investor_table{
  width:100%; 
  }
  .investor_table tr td{
     padding: 8px 5px;
 }
  .investor_table tr:nth-child(even) {
  background:#f9f9f9; 
 }
 .investor_table td:first-child{
  text-align:left;
  font-weight:bold;   
 }
  .investor_table td:last-child{
  text-align:right;   
 }
.as_ico,.dw_ico,.cg_ico,.info_ico{
    display: inline-block;
    height: 26px;
    padding-right: 5px;
    vertical-align: text-top;
    width: 31px;
   } 
.as_ico{
    background: url(../img/as.png) no-repeat left center;
}
.dw_ico{
    background: url(../img/deposit.png) no-repeat left center;
}
.cg_ico{
    background: url(../img/capital.png) no-repeat left center;
}
.info_ico,.signature_ico{
    display: inline-block;
    height: 24px;
    padding:0px;
    vertical-align: text-top;
    width: 20px;
   } 
.info_ico{
     background: url(../img/info.png) no-repeat left center;
}
.signature_ico{
     background: url(../img/investor-signature.png) no-repeat left center;
}
 header > h2{
    font-size:18px;
    color: #333;
    padding: 5px 5px 5px 10px;
    color: #fff;
    font-weight: normal;
}
.sidebar_widget_wrap ul{
    text-align: justify;
}
.sidebar_widget_wrap ul li{
    padding-bottom: 3px;
    }
 li.dashed_border{
         border-bottom: 1px dashed #333333;
    margin: 5px 0;
    padding: 0 50px 0 0 !important;
    }  
  .m_b30{
    margin-bottom: 30px;
  }   
 .w_header{
    position:relative;
    cursor: move;
 } 


/**
 *  .padding10{
 *     padding:10px;
 *  }
 */
 
 
 .investor_pic{
    float:right;
 }
  .investor_pic:hover{
   opacity:0.8;
 }
 .control{
    position:absolute;
    top:0;
    right:0;
 } 
  .control > li{
    float: left;
   } 
  .control > li > a{
    cursor: pointer;
    margin: 2px 0;
    padding: 8px;
   }
   .open{
    background: #F5696C;
   }
   .dropdown > ul{
     
   }
   .pull-right {
    left: auto;
    right: 0;
}
 .dropdown-menu{
    background-color: #FFFFFF;
    border: 2px solid #F5696C;
    border-radius: 0 0 !important;
    left:-130px !important;   
    margin:-1px 0 0 0 !important;
    min-width: 150px !important;
    padding: 5px 0;  
	left: auto;
	right:0;
 }  
 
.dropdown-menu > li > a {
    padding: 5px 20px !important;
}
 .dropdown-menu > li > a:hover{
    background:#F5696C !important;
 }
   .i_i_wrap{
    border-left:1px solid #ccc;
    min-height: 200px;
     padding: 0 10px;
   }
   .i_info li{
    padding-bottom: 10px;
     font-size: 16px;
   }
  .w_settings,.min,.cancel{
    display: block;
    width:13px;
    height:13px;
  } 
  .w_settings{
   background: url(../img/widget-settings.png) no-repeat center ;
  }
  
  .w_settings:hover{
   background:#f5696c url(../img/widget-settings.png) no-repeat center ;
   opacity:0.9;
  } 
  .min{
   background: url(../img/min.png) no-repeat center;
  } 
  .collapsed{
    background: url(../img/max.png) no-repeat center !important;
  }
  .min:hover{
   background:#f5696c url(../img/min.png) no-repeat center;
   opacity:0.9;
  } 
  .collapsed:hover{
    background:#f5696c url(../img/max.png) no-repeat center !important;
  }
  .cancel{
   background: url(../img/cancel.png) no-repeat center;
  } 
  .cancel:hover{
   background:#f5696c url(../img/cancel.png) no-repeat center;
   opacity:0.9;
  }
  /**
  * Tagline styles goes here
  */
 .tagline_icon1,.tagline_icon2,.tagline_icon3{
    display: none;
    float: left;
    height: 32px;
    vertical-align: text-top;
    width: 32px;
 }
  .tagline_icon1{
      background: url("../img/calculator.png") no-repeat scroll 0 3px transparent;
 }
 .tagline_icon2{
      background: url("../img/time.png") no-repeat scroll 0 3px transparent;
 }
 .tagline_icon3{
      background: url("../img/user.png") no-repeat scroll 0 3px transparent;
 }
 .tagline1 ul li,.tagline2 ul li,.tagline3 ul li{
    text-align: left;
 }
  .tagline1 ul li p,.tagline2 ul li p,.tagline3 ul li p{
     line-height: normal;
    margin: 0;
    padding: 0;
    white-space: pre-line;
 }
 .tagline1 ul li h2, .tagline2 ul li h2, .tagline3 ul li h2{
    text-align: right;
     padding: 0 20px 0 0;
 }
  .t_l{
    float: left;
    min-height: 50px;
    width: 80%; 
   }
  .t_r{
       background: none repeat scroll 0 0 #474646;
    float: left;
    min-height: 50px;
    text-align: center;
    width: 20%;
  }
  .t_r a{
    color: #FFFFFF;
    display: block;
    padding: 26px 0
     }
  .t_r a:hover{
    background: #333;
    text-decoration: none;
     }
   
  .tagline1 ul,.tagline2 ul,.tagline3 ul{
     padding: 10px 5px;
    }  
     
  .tagline1 ul li:nth-child(2),.tagline2 ul li:nth-child(2),.tagline3 ul li:nth-child(2){
    margin: -15px 0 0 0;
    }
          
 .tagline1{
    background: #51BCEA;
    color: #FFFFFF;
    float: left;
    width: 100%;
 } 
 .progress_bar{
     background: none repeat scroll 0 0 #3A3A3A;
    display: block;
    min-height: 15px;
    position: relative;
 }
  .tag_progress{
    background: #F6C600;
    left: 0;
    margin: 0;
    min-height: 15px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 70%;
 }
 
  .tagline2{
    background:#6EA41A;	
	color: #FFFFFF;
    float: left;
    width: 100%;
 } 
  .tagline2 ul li .progress_bar{
    
   }
  .tagline3{
   	background:#CD5B1C;	
    color: #FFFFFF;
    float: left;
    width: 100%;
}
.ani{
    position: relative;
    top:0;
    left:400px;
    width: 150px;
    padding: 50px;
    background:#CD5B1C;
    text-align: center;
    border: 1px solid #ccc;
    animation-name: falling;
    animation-duration: 30s;
    z-index:9999;
  }
@keyframes falling {

   0%{
    transform: 
         translateY(0)
rotate(0deg)
scale(0.9, 0.9);	
  }

  100% {
    transform:translateY(700px)
     rotate(1080deg)
     scale(1.5, 1.1);
     opacity:0.5;
  }
} 
/**
 * Transaction page style goes here....
 */
 .vertical_navigation{
    padding: 10px 0;
    background: #ebebeb;
 }
 a.active{
    background:#14B9D6 url(../img/vertical-nav-active.png) no-repeat right !important;
    color: #FFFFFF !important;
    }
   

  .vertical_navigation li{
    margin:0 0 10px 0;
    position: relative;
   }
  .vertical_navigation li:last-child{
    margin-bottom:0 !important;
   } 
 .vertical_navigation ul li a{
    padding: 10px 10px;
    background: #dedede;
    display: block; 
    color: #333;
    font-size: 18px;
       
 }
  .vertical_navigation ul li a:hover{
    text-decoration: none;
    background: rgba(20,185,214,0.8);
     }
 select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    border-radius: 0 !important;
 }
 textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    box-shadow: 0 0 !important;
 }
 textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
    border: 1px solid #F5696C;
    
 }
 .idate_picker{
    padding: 20px;
 }
 .idate_picker h2{
    font-size: 25px;
    font-weight: normal !important;
    padding: 0 0 10px;
 }
 .ui-daterangepicker .ranges{
    background: #fff;
 }
 .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
    
    padding: 10px !important;
    border: 1px solid #CCCCCC;
}
.ui-datepicker-week-end{
    padding: 5px;
}
.ui-datepicker-calendar th{
    padding: 5px;
}
.ui-datepicker-calendar td{
    text-align: center;
      background: none repeat scroll 0 0 #F1F1F1;
}
.ui-datepicker-calendar td a{
    color: #333333;
    padding: 5px;
    text-align: center;
}
.ui-datepicker-calendar td:hover a{
    background: #F5696C !important;
    color: #fff !important; 
}

.ui-daterangepicker button.btnDone {
    background: none repeat scroll 0 0 #16A085;
    border: medium none;  
    color: #FFFFFF;   
    font-size: 1.4em;
    margin: 5px;
    padding: 8px 20px;
  }
.ui-datepicker-prev{
    display: block;
    float: left;
}  
.ui-datepicker-next span, .ui-datepicker-prev span{
  color: transparent;
}
.ui-datepicker-next{
    display: block;
    float: right;
    background: url(../img/next.png) no-repeat left;
    width:12px;
    height:25px;
    cursor: pointer;
}
.ui-datepicker-prev{
    display: block;
    float: left;
    background: url(../img/prev.png) no-repeat left;
    width:12px;
    height:25px;
    cursor: pointer;
}
.ui-datepicker-title{
    text-align:center;
}
.ui-datepicker-header{
    margin: 10px 0;
}

.appBtn{
    background: none repeat scroll 0 0 #F5696C !important;
    border: medium none;
    box-shadow: 0 0 !important;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
}
.ui-state-highlight{
    background: #F5696C;
}
.wait{
    background: url("../img/ajax-loader-metro.gif") no-repeat scroll 0 0 transparent;
    cursor: wait;
    height: 50px;
    left: 50%;    
    position: absolute;
    top: 400px;
    width: 50px;
    z-index: 9999;
}

/*Dynamic Tables
===============================================*/
div.selector {
    -moz-box-sizing: content-box;
    background: -moz-linear-gradient(center top , #FCFCFC 0%, #F1F1F1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D2D2D2;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin: 0;
    
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    vertical-align: middle;
    width: auto;
    }
