div.captcha{
	float: left;
	width: 200px;
	margin: 15px 0px 40px 350px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	padding: 15px 10px 10px 10px;
	background-color: #fff;
}

div.captcha p.img{
	float: left;
	margin: 0px 10px 0px 0px;
}

div.captcha p.img img{
	border: 1px solid #ccc;
}

div.captcha p.refresh{
	float: left;
	cursor: pointer;
	color: #09717d;
	margin: 5px 0px 0px 0px;
}

div.captcha .input{
	float: left;				
}

div.captcha .input input{
	border: 1px solid #ccc;		
	width: 130px;
	margin: 0px 10px 0px 0px;
}

div.captcha .btn{
	float: left;
}

div.captcha .btn input{
	border: 1px solid #ccc;
	border-radius: 5px 5px 5px 5px;			
}

div.captcha .msg .correct{
	color: green;
}

div.captcha .msg .incorrect{
	color: #F87F62;
}