/* ===== Formating Datatable ===== */

select
{
    width:50px !important; 
    height:20px; 
    background:none repeat scroll 0 0 #F9F9F9;
    border:1px solid #D7D7D7;
    padding:2px 4px 2px 5px;  
}
.showentries
{
    display:none;          
}
.dataTables_filter input[type="text"]
{
    width:122px !important;      
}
.instrument
{
    color:#2B6893;
    font-size:13px;
}
.date
{
    font-family:Arial Rounded MT Bold;
    vertical-align:middle;
    text-align:center;
    font-size:20px;   
}